// Imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Variables

:root {
  // Dark Theme Colors
  --bg-dark: #252525;
  --bg-nav-dark: #1d1d1d;
  --txt-dark: #f5f5f5;

  // Light Theme Colors
  --bg-light: #e4e4e4;
  --bg-nav-light: #f5f5f5;
  --txt-light: #1d1d1d;
}
// Random Effect Colors
$hover: rgb(65, 154, 255);

// Themes
.light {
  --bg: var(--bg-light);
  --bg-nav: var(--bg-nav-light);
  --text: var(--txt-light);
}
.dark {
  --bg: var(--bg-dark);
  --bg-nav: var(--bg-nav-dark);
  --text: var(--txt-dark);
}

// Resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

body {
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  overflow: hidden;
}
// Navbar
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  min-height: 9vh;

  background: var(--bg-nav);
  color: var(--text);

  padding-left: 5rem;
  padding-right: 5rem;

  .logo {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 40%;
  }
  .nav-links li {
    list-style-type: none;
  }
  .nav-links a {
    color: currentColor;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    padding: 1rem 2rem;
    transition: 0.3s ease-in-out;
  }
  .nav-links a:hover {
    color: $hover;
  }
  .burger {
    display: none;
  }
  .dropdown {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 3rem;

    opacity: 0;

    background: var(--bg-nav);
    box-shadow: 0 0 1px 1px $hover;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 1rem;
    padding: 0.5rem;

    transform: translateX(200%);
    transition: opacity 150ms ease-in-out;
  }
  .has-dropdown .dropdown {
    transform: translateX(-55%);
    opacity: 1;
  }
}

// Navbar Media Query

@media screen and (max-width: 1000px) {
  // Small screen change navbar looks
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15vh;

    // Small screen change navlinks looks and anim
    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      transform: translateY(-150%);
      position: absolute;
      top: 15vh;
      z-index: -1;
      height: 50%;
      width: 100%;

      background: var(--bg-nav);
      transition: transform 500ms ease-in-out;
    }
    .nav-links li {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
    }

    // Small screen show burger menu
    .burger {
      display: block;
      cursor: pointer;
    }
    .burger div {
      width: 25px;
      height: 2px;
      background: var(--text);
      margin: 5px;
      transition: 0.3s ease-in-out;
    }
    .burger:hover div {
      background: $hover;
    }
    .has-dropdown .dropdown {
      transform: translateX(-25%);
    }

    // Small Screen Slider Anim
    .navlinks-active {
      transform: translateY(0%);
      opacity: 1;
      li {
        opacity: 1;
      }
    }

    // Button Click Change to X Anim
    .toggle {
      .line-1 {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      .line-2 {
        transform: translateX(25px);
        opacity: 0;
      }
      .line-3 {
        transform: rotate(45deg) translate(-5px, -5px);
      }
    }
  }
} ;
